h1 {
	background-color: antiquewhite;
	font-family: 'Courier New', Courier, monospace;
}

h2 {
	background-color: aqua;
	font-family: 'Courier New', Courier, monospace;
}

h2 {
	background-color: gold;
	font-size: large;
}